<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="css/about-styles.css">
    <link href="https://css.gg/css?=|chevron-down-o" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Lora&display=swap');
    </style>
</head>
<body class = "section">
    <section class = "section1">
   <header>
       <nav>
            <!-- <div><h1> Ashar Alvany </h1></div> -->
            <ul class = "blue">
                <a href = "/home"><li class="home change">Home</li></a>
                <a href = "/about"><li class="about">About Me</li></a>
                <a href = "/projects"><li class="projects change">Projects</li></a>
                <a href = "/contact"><li class="contact change">Contact Me</li></a>
            </ul>
       </nav>
   </header>
   <div class = "qContainer">
   <div class="quote"></div>
   <div class = "radioContainer"> 
       <div class = "radio" id = "1"></div>
       <div class = "radio" id = "2"></div>
       <div class = "radio" id = "3"></div>
       <div class = "radio" id = "4"></div>
       <div class = "radio" id = "5"></div>
       <div class = "radio" id = "6"></div>
       <div class = "radio" id = "7"></div>
       <div class = "radio" id = "8"></div>
       <div class = "radio" id = "9"></div>
    </div>
   </div>
   <div class = "downIcon">
       <!-- <div class= "downIconBack"></div> -->
        <div class = "arrow"></div>
   </div>
   </section>
   <section class = "section2">
        <div class = "blob"></div>
        <div class = "aboutContainer">
            <div class="portrait">
                <img src="../public/images/portraits/Portrait1.jpg" alt="">
            </div>
            <div class="aboutText">
                <p>Ashar Alvany is a first-generation American, born and raised in the beautiful Lone Star State. Currently, a freshman attending the University of Texas at Dallas, Ashar has been designing, prototyping, and programming since his sophomore year of high school, where he was introduced to the magical fusion of the worlds of mechanical engineering and computer science. Combining his proficiencies in CAD or rendering software - Fusion360, SolidWorks, and Blender - with electronics platforms - Arduino and Raspberry Pi - and tying it all together with the plethora of programming languages he has in his toolbelt - C/C++, Java, Python, JavaScript, R, HTML, and CSS. <BR/><BR/>
                To that end, Ashar hopes to pursue a career where both his passions are utilized - after he has completed his studies at the University of Texas at Dallas. He is majoring in Computer Science with a minor in Nanoscience and Technology. <BR/><BR/>
                Ashar enjoys spending his free time reading (if you have any book recommendations, please contact him!), rock climbing, listening to music (rock, EDM, pop, rap, phonk, jazz, metal, the list goes on), and learning as much as he can about the world around him. Above are some of Ashar's favorite quotes!<BR/><BR/>
                Even though Ashar is only just beginning his career path, he has already taken strides to take education and experience into his own hands. In this age of widely accessible information, Ashar has learned to teach himself the topics that interest him - which is how he learned to program in the languages mentioned prior. To learn more about the projects that Ashar has worked on, or is working on, visit the Projects page!
                </p></div>
        </div>
        <div class="pseudoSection2"></div>
   </section>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js" integrity="sha512-UxP+UhJaGRWuMG2YC6LPWYpFQnsSgnor0VUF3BHdD83PS/pOpN+FYbZmrYN+ISX8jnvgVUciqP/fILOXDjZSwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src = "js/about-app.js"></script> 
</body>
</html>