<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/home-styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Lora&display=swap');
    </style>
    <link rel="icon" type="image/x-icon" href="images/websiteLogo.png">
</head>
<body>
    <header>
        <nav>
             <!-- <h1> Ashar Alvany </h1> -->
             <ul>
                 <a href = "/home"><li class="home">Home</li></a>
                 <a href = "/about"><li class="about">About Me</li></a>
                 <a href = "/projects"><li class="projects change">Projects</li></a>
                 <a href = "/contact"><li class="contact">Contact Me</li></a>
             </ul>
        </nav>
    </header>
    <div class = "nameContainer">
        <div class = "name">Ashar Alvany</div>
        <div class = "titles">
            <ul>
                <li>Computer Science Student</li>
                <li>|</li>
                <li>Website Developer</li>
                <li>|</li>
                <li>Robotics Hobbyist</li>
            </ul>
        </div>
    </div>
    <div class = "btnContainer">
        <a href = "/about"><div class = "aboutBtn">
            <p>About Me <span>&#8594;</span></p>
        </div></a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.1/gsap.min.js"></script>
    <script src = "js/home-app.js"></script>
</body>
</html>