<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link href = "/css/projects-styles.css" rel= "stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&family=Lora&family=Major+Mono+Display&display=swap');
    </style>
</head>
<body>
    <header>
        <nav>
             <!-- <div><h1> Ashar Alvany </h1></div> -->
             <ul class = "blue">
                 <a href = "/home"><li class="home change">Home</li></a>
                 <a href = "/about"><li class="about change">About Me</li></a>
                 <a href = "/projects"><li class="projects">Projects</li></a>
                 <a href = "/contact"><li class="contact change">Contact Me</li></a>
             </ul>
        </nav>
    </header>
    <div class="sunSet">
        <img src="../images/projectsPage.gif" alt="">
        <div class="personalProjects">Personal Projects</div>
    </div>
    <div class="scrollable">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, enim recusandae ratione dignissimos voluptatem officiis! Eligendi labore beatae quos sit! Aliquam earum ducimus rerum consectetur accusantium, magnam fugiat mollitia officia. Ipsam, cupiditate. Quos deleniti atque eius aliquid! Molestias sit voluptate pariatur minima molestiae maxime exercitationem officia est odio. Placeat fugiat quisquam iure aliquam impedit sunt ducimus neque aperiam consequatur, cupiditate labore quaerat dolore nobis delectus eaque debitis sapiente deserunt voluptate, quos tenetur atque! Cum minus, nam et provident magni obcaecati non? Obcaecati molestiae eaque debitis voluptates esse itaque quae exercitationem pariatur ratione nobis maiores, accusantium necessitatibus culpa ad ipsum perspiciatis?
    </div>
</body>
<script src="/js/projects-app.js"></script>
</html>